---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = await getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1 class="mr-2">👋 Hi! I'm Mark</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        I'm Computer Science and Engineering Student at the Ohio State
        University, interested in web development, system administration, and
        bleeding edge technology. I like to write about my projects and things
        I've learned.
      </p>
      <p>Read the blog posts below or check my socials for more info.</p>
      {
        // only display if at least one social link is enabled
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">Social Links:</div>
            <Socials />
          </div>
        )
      }
    </section>

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>Featured Posts</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  client:load
                  href={`/posts/${slug}/`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>Recent Posts</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 4 && (
                  <Card
                    client:load
                    href={`/posts/${slug}/`}
                    frontmatter={data}
                    secHeading={false}
                  />
                )
            )}
          </ul>
        </section>
      )
    }

    <div class="all-posts-btn-wrapper">
      <LinkButton href="/posts/">
        All Posts
        <svg xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z"
          ></path>
        </svg>
      </LinkButton>
    </div>

    <section class="mb-8 mt-20">
      <h1 class="mb-4 text-3xl font-bold sm:mb-8 sm:text-5xl">What do I do?</h1>

      <div class="space-y-12">
        <div>
          <p class="mb-4">
            ...I build full stack applications.
            <br /><br />
            This is Rhombus, a Jeopardy style competition platform with a cohesive
            and modern user interface for hosting CTF events. Written with bleeding
            edge tools like Rust, TypeScript, Solid.js, and TailwindCSS.
            <br /><br />
            <a
              class="link-underline"
              href="https://github.com/rhombusgg/rhombus">Go to project</a
            > • <a class="link-underline" href="https://rhombus.gg"
              >Go to website</a
            >
          </p>
          <a href="https://rhombus.gg">
            <img src="/assets/projects/rhombus.gif" />
          </a>
        </div>

        <div>
          <p class="mb-4">
            ...I make tools to improve efficiency.
            <br /><br />
            This is Canvas CLI, a command line interface to submit class assignments
            and download files. Compatible with any institution using Instructure's
            Canvas Learning Management System. Written in Rust using official REST
            APIs.
            <br /><br />
            <a class="link-underline" href="https://github.com/mbund/canvas-cli"
              >Go to project</a
            > • <a class="link-underline" href="posts/cicd-for-university"
              >Go to related blog post</a
            >
          </p>
          <a href="https://github.com/mbund/canvas-cli">
            <img alt="Canvas CLI demo" src="/assets/projects/canvas-cli.gif" />
          </a>
        </div>

        <div>
          <p class="mb-4">
            ...I prototype quickly to scratch my curious itches.
            <br /><br />
            This is the OSU Course Dependency Visualizer, a visualization of every
            course available at the Ohio State University and what prerequisites
            are required for them as an explorable DAG. Writen with TypeScript and
            Astro.
            <br /><br />
            <a class="link-underline" href="https://github.com/mbund/cdr"
              >Go to project</a
            >
          </p>
          <a href="https://github.com/mbund/cdr">
            <img
              alt="OSU Class Dependency Visualizer demo"
              src="/assets/projects/cdr.gif"
            />
          </a>
        </div>

        <div>
          <p class="mb-4">
            ...I think about privacy and data.
            <br /><br />
            This is my homelab dashboard. I run numerous services (&gt;25) on my
            home server using Kubernetes, following GitOps principles. Metrics and
            logs are easily monitored with Grafana. I use it for data sovereignty,
            learning, and fun.
            <br /><br />
            <a class="link-underline" href="https://github.com/mbund/homelab"
              >Go to project</a
            >
          </p>
          <a href="https://github.com/mbund/homelab">
            <img
              alt="Screenshot of my homelab dashboard"
              src="/assets/projects/homarr.png"
            />
          </a>
        </div>

        <div>
          <p class="mb-4">
            ...I dive deeper into technical topics.
            <br /><br />
            This is the Decompiler Explorer. Sometimes the best way to learn about
            compilers is by learning about decompilers. I apply my existing knowledge
            to find the best way for me to learn something new.
            <br /><br />
            <a
              class="link-underline"
              href="https://github.com/mbund/decompiler-explorer"
              >Go to project</a
            >
          </p>
          <a href="https://github.com/mbund/decompiler-explorer">
            <img
              alt="Decompiler Explorer demo"
              src="/assets/projects/decompiler-explorer.gif"
            />
          </a>
        </div>

        <div>
          <p class="mb-4">
            ...I write CTF challenges
            <br /><br />
            These are a few cybersecurity based challenges I've written for the Cybersecurity
            Club at OSU. I explore topics like XSS, CSRF, command injection, and
            more (see Minecraft hacking).
          </p>
          <div class="grid grid-cols-3">
            <a
              class="aspect-square overflow-hidden"
              href="https://github.com/cscosu/buckeyectf-2023-public/tree/master/rev-emotional-damage"
            >
              <img
                class="h-full w-full object-cover"
                src="/assets/projects/ctf/emotional-damage.png"
                alt="Emotional Damage CTF Challenge"
              />
            </a>
            <a
              href="https://github.com/cscosu/buckeyectf-2023-public/tree/master/misc-ogrechat"
              class="aspect-square overflow-hidden"
            >
              <img
                class="h-full w-full object-cover"
                src="/assets/projects/ctf/ogrechat.png"
                alt="Ogrechat CTF Challenge"
              />
            </a>
            <a
              href="https://github.com/cscosu/buckeyectf-2023-public/tree/master/misc-parkour"
              class="aspect-square overflow-hidden"
            >
              <img
                class="h-full w-full object-cover"
                src="/assets/projects/ctf/parkour.png"
                alt="Parkour CTF Challenge"
              />
            </a>
            <a
              href="https://github.com/cscosu/buckeyectf-2023-public/tree/master/web-sentiment"
              class="aspect-square overflow-hidden"
            >
              <img
                class="h-full w-full object-cover"
                src="/assets/projects/ctf/sentiment.png"
                alt="Sentiment CTF Challenge"
              />
            </a>
            <a
              href="https://github.com/cscosu/buckeyectf-2023-public/tree/master/web-font-review"
              class="aspect-square overflow-hidden"
            >
              <img
                class="h-full w-full object-cover"
                src="/assets/projects/ctf/font-review.png"
                alt="Font Review CTF Challenge"
              />
            </a>
            <a
              href="https://github.com/cscosu/buckeyectf-2023-public/tree/master/misc-smederij"
              class="aspect-square overflow-hidden"
            >
              <img
                class="h-full w-full object-cover"
                src="/assets/projects/ctf/smederij.png"
                alt="Smederij CTF Challenge"
              />
            </a>
          </div>
        </div>

        <p>
          ...and I write a technical blog! Read some of my <a
            class="link-underline"
            href="/posts">posts</a
          >, or have a look at some of my other projects on <a
            class="link-underline"
            href="https://github.com/mbund">GitHub</a
          >.
        </p>
      </div>
    </section>

    <!-- <Hr /> -->
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply py-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }

  .link-underline {
    @apply font-medium underline decoration-dashed underline-offset-4 hover:text-skin-accent;
  }
</style>
